/* NOTES


font-family: "futura-pt",sans-serif;
Light: font-weight: 300;
Book: font-weight: 400;
Medium: font-weight: 500;
Heavy: font-weight: 700;


COLORS
Orange: #fc9003;
Gray: #222;


*/


/*=============== PRIMARY STRUCTURE ===============*/




body {
  color: #000;
  font-family: "futura-pt",sans-serif;
}

.wrapper {
  width: 100%;
}

/* === Typography === */

h1 {
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  font-size: 3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0em;
  text-align: center;
}

h2 {
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  font-size: 2em;
  margin-top: .25em;
}

h3 {
  font-family: "futura-pt",sans-serif;
  font-size: 1em;
  font-weight: 300;
}

h4 {
  font-family: "futura-pt",sans-serif;
  font-weight: 300;
  font-size: .5em;
  letter-spacing: 1px;
  margin-top: 1em;
}

h5 {
  font-family: "futura-pt",sans-serif;
  font-size: 1.5em;

}

h6 {
  margin: -2em 0 3em 0;
  font-size: 1em;
  font-family: "futura-pt",sans-serif;
  font-weight: 300;
}

p{
  font-family: "futura-pt",sans-serif;
  font-weight: 300;
  margin-top: 1em;
  font-size: .9em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #fc6803;
  font-weight: 400;
}

/* === Primary Navigation === */

.nav-container { 
  width:100%; 
  margin: 0 auto; 

}


.navleft {
  display: inline-block;
  float: left;
  margin-top: -.25em;
}

.navleft img {
  height: 2em;
}

.navright {
  display: inline-block;
  float: right;
}
#stickynav-container { 
  width:100%; 
}

#stickynav { 
  width:100%; 
  background: white; 

}

#stickynav ul { 
  list-style:none; 
  margin:0; 
  padding:5px; 
  margin: .5em 1em 0 1em; 
}

#stickynav ul li { 
  margin:0; 
  padding:0; 
  display:inline; 
}

#stickynav ul li a { 
  display:block; 
  float:left; 
  padding: .5em; 
  color: black; 
  text-transform: uppercase;
  font-weight: 300;
    font-size: .75em;
}

#stickynav a:hover { 
  color: #ef6406; 
}



/* ============= Sections ============= */

.landing {
  text-align: center;
  color: white;
  margin-top: 10em;
}

.landing img {
  width: 15%;
  height: auto;
  margin: 0 auto;
}

.landing a {
  text-transform: uppercase;
  font-weight: 300;
  border: 1px solid white;
  padding: .5em 1.25em;
}

.landing h3 {
  font-family: "futura-pt",sans-serif;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: .1em;
  margin-bottom: 4em;
}

/* === Pop Up Styling === */


.popup-trigger {
  text-align: center;
  color: #FFF;
  border: 1px solid white;
  padding: .1em;
  text-transform: uppercase;
}

.popup {
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 10000;
}
.popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  z-index: 999999999999999999999999999999;
}

.popup-container {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  margin: 1em auto;
  background: #FFF;
  text-align: center;
  z-index: 999;
  
}

.popup-container .buttons:after {
  content: "";
  display: table;
  clear: both;
}
.popup-container .buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.popup-container .buttons a {
  display: block;
  height: 3.75em;
  line-height: 3.75em;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.popup-container .popup-close {
  color: #fc9003;
  position: absolute;
  top: .5em;
  right: .5em;
  width: .625em;
  height: .625em;
}

.popup-close {
  position: absolute;
  bottom: .5em;
  right: .5em;

}

.popup-reserve {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #222;
  border: 1px solid black;
  padding: 1em;
}

a.popup-reserve {
  background: #222;
  color: #fff;
}

a.popup-reserve:hover {
  background: #fc9003;
  color: #fff;
}



.calendar-container {
  display: inline-block;
  float: left;
}

.party-time {
  margin-top: 1em;
  display: inline-block;
  float: right;
}

.overlay{
  background: rgba(0,0,0,0.5);
  position:fixed;
  width:100vw;
  height: 100vh;
  z-index: 0;
  display:none;
  top:0;
  left:0;
}



/*calendar*/
ul {
  list-style-type: none;
}


.calendar .left {
  float: left;
  width: 10%;
  margin: 0 0 0 0;
}
.calendar .right {
  float: right;
  width: 10%;
  margin: -2em 0 0 0;
}
.monthname {
  width: 80%;
  margin: 0;
  font-weight: 500; 
}


.group {
  width: 100%;
  margin-top: 1em;
}

.weeks {
  margin-left: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.calendar-container {
  width: 45%;
}
.calendar {
  background: #222;
  color: #ddd;
  padding: .5em 2em 1em;
  width: 100%;
  display: inline-block;
  float: left;
  margin: 0 0 3em 0;
}

.calendar p {
  margin-bottom: .5em;
  color: #d09015;
}

.calendar li {
  float: left;
  width: -webkit-calc(100%/7);
  text-align: center;
  margin-top: .5em;
  
}
.calendar li:hover, .calendar li.red {
  color: #fc9003;
}
.calendar li:nth-child(-n+7) {
  color: #666;
}

.calendar ul{
  margin-left: -2.5em;
  padding-right: 5em;
}
.center {
  text-align: center;
}

.reservation-container {
  padding: 3em;
}

}
.pointer {
  cursor: pointer;
}






/*dropdown menu*/

.party-time {
  width: 40%;
  float: right;
  display: inline-block;

}
.form {
    width: 100%;
    margin: 0 auto;


}

#reservation-size, #reservation-time {
  width: 95%;
  height: 2.5em;
  background: #222;
  color: white;
  margin-bottom: 1em;
  border-radius: 0;
  font-weight: 300;
  text-indent: 1em;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}


.party-time h4 {
  color: black;
  font-size: .75em;
  margin-top: 1em;
}




/* === About Tenji === */

.chef-container {
  width: 100%;
  margin: 3% auto 2% auto;
}


.chefleft {
  width: 58%;
  display: inline-block;
  float: left;
  margin-bottom: 2em;
}

.chefright {
  width: 38%;
  display: inline-block;
  float: right;
}

/* === Signature Dishes === */

.signature-container {
  display: block;
  width: 100%;
  margin: 3% auto -1% auto;
}

.signature {
  display: inline-block;
  margin: 0 auto;
  width: 32.5%;
  text-align: left;
}

.signature h5 {
  display: inline-block;
  margin-right: .5em;
}

.signature h5:nth-child(1) {
  float: left;
}

.signature h5:nth-child(2) {
  float: right;
}

.signature img {
  width: 98%;
}

.signature img:hover {
  width: 98%;
  opacity: 1;
}

.signature h4 {
  margin: .25em 0 0 0;
  font-weight: 400;
}

.signature h5 {
  margin-top: .25em;
  font-weight: 100;
}

.signature h6 {
  display: block;
  width: 100%;
}



/* === Menu === */

.menu-container {
  width: 100%;
  margin: 15% auto;
}

.section-title {
  color: white;
  text-align: center;
  font-size: 3em;
}

.menu-items {
  width: 100%;
  display: block;
  margin: -1em auto 1em auto;
}

.menu-items h3{
  margin: .5em 0;
}

.menu-items h5{
  font-size: 1.75em;
  margin: 1em 0 0 0;
}

.menu-items p{
  font-size: .75em;
  font-weight: 100;
  margin: -.25em 0 1em 0;
  line-height: 1.25;

}

.left {
  width: 45%;
  float: left;
  margin: 2% 2%;
}

.right {
  width: 45%;
  float: right;
  margin: 2% 2%;
}

.noncoffee h3 {
  margin-top: 20em;
}

.blank {
  width: 100%;
  height: 8em;
}

.menu-nav {
  width: 100%;
}

.menu-nav li {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.menu-nav li a {
  text-decoration: none;
  color: #000;
  margin: 0 1em;
  text-align: center;

  font-family: 'Josefin Slab', serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: .75em
}


.tabs {
    width:100%;
    display:inline-block;
}

.tab-links {
  text-align: center;
  margin: 0 0 1em 0;
  padding: 2em;
  border-bottom: 1px solid black;
}

.tab-links:after {
    display: block;
    clear: both;
    content:'';
}
 
.tab-links li {
  display: inline-block;
    margin: 0 auto;
    list-style: none;
}
 
.tab-links a { 
  padding: .5em; 
  color: black; 
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
}
 
.tab-links a:hover {
  color: #ef6406; 
}
 
li.active a, li.active a:hover {
    color: #ef6406
}
 
.tab-content {
    padding:15px;
}
 
.tab {
    display:none;
}
 
.tab.active {
    display:block;
}

.description {
  display: inline-block;
  float: left;
}

.pricing {
  display: inline-block;
  float: right;
}




/* === Email form === */


.contact {
  display: inline-block;
  width: 30%;
  float: left;
  padding: .5em;
}

.contact h3 {
  margin: 1.5em 0 .5em 0;
  font-weight: 400;
}
.contact ul li {
  font-family: "futura-pt",sans-serif;
  font-weight: 300;
}
.map {
  display: inline-block;
  width: 65%;
  float: left;
  padding: .5em;
  margin-bottom: 5em;
}


iframe {
  width: 100%;
   -webkit-filter: grayscale(100%); filter: grayscale(100%);
}


.map {
  float: right;
}

footer {
  display: inline-block;
  width: 100%;
  height: 5%;
  text-align: center;
  font-size: .75em;
}

/* === Parallax Sections === */

.module.content {
  padding: 2.5em 1.25em;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.module.parallax-1 {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.module.parallax-2 {
  height: 25em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.module.parallax-3 {
  height: 25em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.module.parallax-4 {
  height: 25em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.module.parallax-1 {
  background-image: url("../img/sushidark.jpg");
  background-width: 100%;
  background-height: 100%;
  overflow: hidden;
}

.module.parallax-2 {
  background-image: url("../img/parallax-2.jpg");
  background-width: 100%;
  background-height: 100%;
  overflow: hidden;
}

.module.parallax-3 {
  background-image: url("../img/parallax-3.jpg");
  background-width: 100%;
  background-height: 100%;
  overflow: hidden;
}

.module.parallax-4 {
  background-image: url("../img/parallax-4.png");
  background-width: 100%;
  background-height: 100%;
  overflow: hidden;
}


/* ======== Media Queries =========*/

@media screen and (max-width: 768px) {


  .popup-container {
    top: 10%;
    left: 8%;
    width: 85%;
  }

  .chefleft {
  width: 80%;
  display: block;
  margin: 0 auto;
}

  .chefright {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  

  .signature {
    display: inline-block;
    margin: 0 auto;
    width: 48%;
    text-align: left;
  }

  .contact, .hours {
    display: inline-block;
    width: 40%;
    float: left;
    padding: .5em;
  }

   .map {
    width: 90%;
   }


}


@media screen and (max-width: 480px) {



  .popup-container {
    top: 10%;
    left: 8%;
    width: 95%;
  }

  .calendar {
    width: 100%;
    display: block;
  }

  .chefleft {
  width: 98%;
  display: block;
  margin: 0 auto;
}

  .chefright {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  

  .signature {
    display: inline-block;
    margin: 0 auto;
    width: 80%;
    text-align: left;
  }

  .contact, .hours, .map {
    display: inline-block;
    width: 90%;
    float: left;
    padding: .5em;
  }

  .tab-links li {
    display: block;
    margin: 0 auto;
    list-style: none;
  }

  .left {
    width: 90%;
    float: left;
    margin: 2% 2%;
  }

  .right {
    width: 90%;
    float: left;
    margin: 2% 2%;
  }


  

}


/*CLEARFIX*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}